* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  display: grid;
  margin:20px;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap:10px;
}

.panel {
  display: grid;
  grid-template-rows: 50px 1fr;
  gap:10px;
}

